@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Passero+One&display=swap');

/* CSS Variables */
:root {
  --font-headings: 'Montserrat Alternates', sans-serif;
  --font-text: 'Passero One', cursive;

  --color-primary: #845ec2;
  --color-secondary: #ff6f91;
  --color-tertiary: #ffc75f;

  --background-color: #000000;
  --text-color: #e0e0e0;
}

.font-heading {
  font-family: var(--font-headings);
}
.font-text {
  font-family: var(--font-text);
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-text);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
